<!-- cnzz站长统计 -->

<!-- <Original Code. Discarded> -->
<span id="cnzz_stat_icon_1256860805">
	<a href="http://www.cnzz.com/stat/website.php?web_id=1256860805" target="_blank" title="站长统计">
		<img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic.gif">
	</a>
</span>
<!-- -->

<!-- Added Code from UMeng+. In service -->
<script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1281038955'%3E%3C/span%3E%3Cscript src='https://s9.cnzz.com/z_stat.php%3Fid%3D1281038955%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

<!-- <Original Code>
<script src=" http://s4.cnzz.com/z_stat.php?id=1256860805&amp;show=pic" type="text/javascript"></script>
<script src="http://c.cnzz.com/core.php?web_id=1256860805&amp;show=pic&amp;t=z" charset="utf-8" type="text/javascript"></script>
-->

<!-- <Added Code by myself. Discarded>
<script>
	var cnzz_s_tag = document.createElement ('script');
	cnzz_s_tag.type = 'text/javascipt';
	cnzz_s_tag.async = true;
	cnzz_s_tag.charset = 'utf-8';
	cnzz_s_tag.src = 'w.cnzz.com/c.php?...';
	var root_s = document.getElementsByTagName ('script')[0];
	root_s.parentNode.insertBefore (cnzz_s_tag, root_s);
</script>
-->